// Файл go.work - определяет рабочее пространство Go (Go Workspace)
// Версия синтаксиса файла
go 1.24.1

// Секция use определяет модули, входящие в рабочее пространство
use (
	// Локальные модули проекта (относительные пути):
	./gw-proto         // Модуль с protobuf-контрактами и сгенерированным кодом
	./gw-exchanger     // Модуль сервиса обмена валют
	./gw-currency-wallet  // Модуль сервиса кошелька
)